<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartTravel</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body class="login-body">

    <div class="login-container">

        <!-- Back -->
        <a href="/login" class="back">❮</a>

        <!-- Icon -->
        <div class="icon-box">
            <i class="fa-solid fa-key"></i>
        </div>

        <p class="small-title">RESET PASSWORD</p>
        <h1 class="name2">Recover Account</h1>

        <p class="sub1">
            Don't worry! It happens. Please enter the email associated with your account.
        </p>

        <form action="/forgot-password" method="post">
            <label>Email Address</label>

            <div class="input-box">
                <input type="email" name="email" placeholder="name@example.com">
            </div>

            <p class="info">
                We will send a 6-digit verification code to this email to verify your identity.
            </p>

            <button class="btn-primary">Send Reset Link</button>
        </form>

        <p class="signup">
            Remember your password? <a href="/login">Sign In</a>
        </p>

    </div>

</body>
</html>