<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Travel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body class="onboard2-body">
        <div class="overlay">
            <div class="content">
                <h1>Plan Smarter,<br>Travel Better.</h1>
                <p>Build personalized itineraries, optimize routes and
                    and never miss a must-see destination.
                </p>

                <a href="/onboarding3" class="btn-next">Next</a>
                <a href="/login" class="skip">Skip for now</a>
                
            </div>
        </div>
    </body>
</html>