<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Travel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body class="onboard3-body">
        <div class="overlay">
            <div class="content">
                <h1>Discover Sri Lanka,<br>Effortlessly.</h1>
                <p>Explore beachs, cultural heritage and natural beauty
                    across Sri Lanka with smart travel planning.
                </p>

                <a href="/login" class="btn-next">Get Started</a>
                <a href="/login" class="skip">Skip for now</a>
                
            </div>
        </div>
    </body>
</html>