<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Travel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body class="onboard-body">
        <div class="overlay">
            <div class="content">
                <h1>Explore the World,<br>Your Way.</h1>
                <p>Your Personal companion for discovery,
                    planning and seamless adventures.
                </p>

                <a href="/onboarding2" class="btn-next">Next</a>
                <a href="/login" class="skip">Skip for now</a>
                
            </div>
        </div>
    </body>
</html>