<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smart Travel</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body class="register-body">
        <div class="register-container">
            <!-- Back button -->
             <a href="/login" class="back">❮</a>

                <h2 class="name">CREATE ACCOUNT</h2>
             
             <h1 class="name1">Join SmartTravel</h1>
             <p class="sub1">start planning your next adventure today with our
                intelligent trip tools.</p>

            <!-- Form -->
             <form action="/register" method="post">
                <label>Full Name</label>
                <input type="name" name="name" placeholder="Your Full Name" required>

                <label>Email Address</label>
                <input type="email" name="email" placeholder="name@example.com"  required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Create a password"  required>

                <label>Confirm Password</label>
                <input type="password" name="password" placeholder="Repeat your password">

                <button class="btn-primary">Create Account</button>

                <p class="signup">
                Already have an account? <a href="/login">Sign In</a>
                </p>

            </form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="error-box">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

        </div>
    </body>
</html>